@{
    ViewBag.Title = "農村地方美食小吃特色料理";
}

<script>
    $(document).ready(function () {
        console.log("hihiihihihihihihiihihi");
        var dataurl = "https://localhost:44398/ODwsvTravelFood.json";
        $.ajax({
            url: dataurl,
            type: 'GET',
            success: function (data) {
                alert("農村地方美食小吃特色料理共" + data.length + "筆記錄");
                for (var i = 0; i < data.length; i++) {
                    $("#tableshow").append
                        (
                            "<tr>" +
                            "<td>" + data[i].ID + "</td>" +
                            "<td>" + data[i].Name + "</td>" +
                            "<td>" + data[i].Address + "</td>" +
                            "<td>" + data[i].Tel + "</td>" +
                            "<td>" + data[i].HostWords + "</td>" +
                            "<td><img src='" + data[i].PicURL + "' style='width:200px;'></td>" +
                            "<td><a href='https://www.google.com.tw/maps/place/" + data[i].Address + " 'target='_blank' class='btn btn-info'>地圖 </td>" +
                            "</tr>"
                        );
                }
            }
        });
    });
</script>

<h2>農村地方美食小吃特色料理</h2>

<table class="table" id="tableshow">
    <tr>
        <th>ID</th>
        <th>名稱</th>
        <th>地址</th>
        <th>電話</th>
        <th>說明</th>
        <th>照片</th>
        <th></th>
    </tr>
</table>